@font-face {
    font-family: "Bebas";
    src: url(BebasNeue-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Rouge-Script";
    src: url(RougeScript-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Dancing-Script";
    src: url(DancingScript-VariableFont_wght.ttf) format("truetype");
}

body {
    margin:0
}

body h2{
    margin-block-start:0;
    font-family: "Bebas";
    font-weight: 400;
}

body h2::first-letter{
    font-family: "Rouge-Script";
    font-size: 60px;
}

span.note{
    color: red;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.2)),
    url("pexels-pixabay-260922.jpg");
    background-position: -10%;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    margin: 0;
    color: whitesmoke;
    font-family: "Dancing-Script";
    font-size: 72px;
    font-weight: 500;
    text-align: center;
}
header h4 {
    margin: 0;
    color: #cf8311;
    font-family: "Bebas";
    font-weight: 600;
    letter-spacing: 0.2em;
    text-align: center;
}

nav{
    background-color: #fab039cc;
    height: 80px;
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a{
    margin : 0 5px;
    padding: 0.8em 1.3em;
    font-family: "Bebas";
    font: 14px 400;
    color: black;
    text-decoration: none;
    background-color: #f7c87c;
    border-radius: 10px;
    transition: 0.5s;
}

nav a:hover{
    background-color: #e0b351;
}

body div{
    padding: 10px;
}

body div:nth-child(2n){
    background-color: #e9ca85;
}
body div:nth-child(2n+1){
    background-color: #e0b351;
}

td {
    font-family: "Dancing-Script";
    font-size: 18px;
}

footer{
    background-color: #bfbfbf;
}